
RewriteEngine on
RewriteCond %{HTTP_HOST} ^profil\.kusekolah\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.profil\.kusekolah\.id$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteRule ^/?$ "http\:\/\/profil\.kusekolah\.id\/profil\.kusekolah\/index\.html" [R=301,L]

